* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}

.navbar {
  width: 375px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.navbar .top-navbar {
  width: 375px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 15px 20px;
  background: #0C4B35;
}
.navbar .top-navbar .text {
  width: 335px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.navbar .top-navbar .text .address-phone-location {
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.navbar .top-navbar .text .address-phone-location p {
  opacity: 0;
  visibility: hidden;
}
.navbar .top-navbar .text .address-phone-location .mail {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-image: url(icons-header/email\ 1.svg);
  background-repeat: no-repeat;
}
.navbar .top-navbar .text .address-phone-location .phone-call {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-image: url(icons-header/phone-call\ 1.svg);
  background-repeat: no-repeat;
}
.navbar .top-navbar .text .address-phone-location .location {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-image: url(icons-header/location\ 1.svg);
  background-repeat: no-repeat;
}
.navbar .top-navbar .text .language {
  width: 90px;
  height: 16px;
  background-image: url(icons-header/Arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.navbar .top-navbar .text .language .language-menu a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
}
.navbar .top-navbar .text .language .language-menu .language-sub-menu {
  opacity: 0;
  visibility: hidden;
}
.navbar .nav-bar {
  width: 375px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
  background-color: white;
}
.navbar .nav-bar .text2 {
  width: 375px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.navbar .nav-bar .logo {
  width: 90px;
  height: 40px;
  background-image: url(icons-header/1\ LOGO.svg);
}
.navbar .nav-bar .call-menu {
  width: 110px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-bar .call-menu .call-button {
  width: 40px;
  height: 34px;
}
.navbar .nav-bar .call-menu .call-button .btn-call {
  width: 40px;
  height: 34px;
  background-image: url(icons-header/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00730C;
  border-radius: 10px;
  border: solid 1px #00730C;
}
.navbar .nav-bar .call-menu .menu {
  width: 30px;
  height: 30px;
  background-image: url(icons-header/menu\ \(1\).svg);
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .navbar {
    width: 1920px;
    height: 144px;
  }
  .navbar .top-navbar {
    width: 1920px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 251px;
  }
  .navbar .top-navbar .text {
    width: 1418px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .top-navbar .text .address-phone-location {
    width: 749px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .navbar .top-navbar .text .address-phone-location p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    opacity: 1;
    visibility: visible;
  }
  .navbar .top-navbar .text .address-phone-location .mail {
    width: 281px;
    height: 25px;
  }
  .navbar .top-navbar .text .address-phone-location .mail .mail-text {
    padding: 0px 10px 0px 20px;
  }
  .navbar .top-navbar .text .address-phone-location .phone-call {
    width: 140px;
    height: 25px;
  }
  .navbar .top-navbar .text .address-phone-location .phone-call .phone-call-text {
    padding: 0px 0px 0px 20px;
  }
  .navbar .top-navbar .text .address-phone-location .location {
    width: 268px;
    height: 25px;
  }
  .navbar .top-navbar .text .address-phone-location .location .location-text {
    padding: 0px 0px 0px 20px;
  }
  .navbar .top-navbar .text .language {
    height: 25px;
  }
  .navbar .top-navbar .text .language .language-menu a {
    font-size: 14px;
    line-height: 25px;
  }
}/*# sourceMappingURL=style.css.map */