@import "./mixins";

*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
}
    
    .navbar{
    width: 375px;
    height: 125px;
    @include flex(column, center, center);
    padding: 0px;

     .top-navbar{
        width: 375px;
        height: 55px;
        @include flex(column, center, space-between);
        padding: 20px 20px 15px;
        background: #0C4B35;

        .text{
            width: 335px;
            height: 20px;
            @include flex(row, center, space-between);
            padding: 0px;
           

            .address-phone-location{
                 width: 100px;
                  height: 20px;
                @include flex(row, center, space-between);
                  padding: 0px;

                  p{
                    opacity: 0;
                    visibility: hidden;
                  }
        
                  .mail{
                     width: 20px;
                     height: 20px;
                     @include flex(row, center, center);
                     padding: 0px;
                     background-image: url(icons-header/email\ 1.svg);
                     background-repeat: no-repeat;
                    }
                    .phone-call{
                        width: 20px;
                         height: 20px;
                         @include flex(row, center, center);
                         padding: 0px;
                         background-image: url(icons-header/phone-call\ 1.svg);
                         background-repeat: no-repeat;
                        
                        }
                        .location{
                            width: 20px;
                            height: 20px;@include flex(row, center, center);
                            padding: 0px;
                            background-image: url(icons-header/location\ 1.svg);
                            background-repeat: no-repeat;
                        }
                    }

                    .language{
                        width: 90px;
                        height: 16px;
                        background-image: url(icons-header/Arrow.svg);
                        background-repeat: no-repeat;
                        background-position: right;
    
                        .language-menu{
                            a{
                                text-decoration: none;
                                color: white; 
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 16.37px;
                                }
                               
                                .language-sub-menu{
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                // .language-menu>li:hover .language-sub-menu{
                                //     opacity: 1;
                                //     visibility: visible; 
                                //     } 
                            }
                        }
                    }

                }
           
        }    
      
        @media(min-width:1920px){
            .navbar{
                width: 1920px;
                height: 144px;

                .top-navbar{
                    width: 1920px;
                    height: 59px;
                    @include flex(row, center, space-between);
                    padding: 17px 251px;
                    .text{
                        width: 1418px;
                        height: 25px;
                        @include flex(row, center, space-between);
                      

                        .address-phone-location{
                            width: 749px;
                             height: 25px;
                            
                           @include flex(row, center, space-around);
                        p{
                            color: white;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 25px;
                            opacity: 1;
                            visibility: visible;
                        }

                        .mail{
                            width: 281px;
                            height: 25px;

                            .mail-text{
                                padding: 0px 10px 0px 20px ;
                            }
                           }

                           .phone-call{
                            width: 140px;
                             height: 25px;

                            .phone-call-text{
                                padding: 0px 0px 0px 20px ;
                            }
                            
                            }

                            .location{
                                width: 268px;
                                height: 25px;
                               
                                .location-text{
                                    padding: 0px 0px 0px 20px ;
                                }
                            }
                        }
                        
                        .language{
                            height: 25px;
                           
                            .language-menu{
                                a{
                                    font-size: 14px;
                                    line-height: 25px;
                                    }  
                                }
                            }      
                    }
            } 
        }
       

    }
    